# À ne pas push pour des questions de sécurité

.env
.script_merging
.script_main_merging
./public/.vite

# Database

./srcs/config/database/db.ts
./srcs/config/database/data/mydb.sqlite
./srcs/config/database/data/
./srcs/config/database/

# Autres
