networks:

  transcendence:
    name: transcendence
    driver: bridge

volumes:

  grafana-data:

services:

  gateway:
    image: nginx:1.27-alpine
    container_name: gateway
    depends_on:
      - web
      - backend
    ports:
      - "8080:80"
      - "3000:80"
      - "8443:443"
      - "4000:4000"
    networks:
      - transcendence
    volumes:
      - ./certs:/etc/nginx/certs:ro
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost/health || exit 1"]
      interval: 10s
      timeout: 2s
      retries: 6

  web:
    build: .
    container_name: web
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file: .env
    networks:
      - transcendence

  backend:
    build:
      context: ./backend
    container_name: backend
    volumes:
      - ./backend:/app
      - /app/node_modules
    networks:
      - transcendence

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
    - ./docker/monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"
    networks:
      - transcendence
    restart: unless-stopped


  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    depends_on:
      - prometheus
    ports:
      - "5000:5000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
      GF_SERVER_HTTP_PORT: 5000
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - transcendence
    restart: unless-stopped
