.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

.form-container {
  width: 320px;
  margin: 0 auto;
  padding: 20px;
  background: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #ccc;
}

.form-group input {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #333;
  background: #111;
  color: white;
}

.form-group input:focus {
  outline: none;
  border-color: #00aaff;
  background: #181818;
}

.btn-primary {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.btn-primary:hover {
  background-color: #005fcc;
}


body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

head {
  margin: 0px;
}
body {
  background-color: rgb(59, 60, 83);
  margin: 0px;
}

html {
  margin: 0;
}

div.header {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
  background-color: #334;
  text-align: center;
  align-items: center;
  align-content: center;
  box-shadow: 0px 1px 5px;

}
div.header_links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 15px;
  text-transform: capitalize;
}

a.header_link {
  text-decoration: none;
  text-shadow: 2px 2px #333;
  font-weight: bold;
  color: brown;
}

/* #app {
  height: max-content;
  display: flex;
  justify-content: center;
} */

/* div.header_links {
  background-color: #ffffff;
  align-items: center;
  text-align: center;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 25%;
}
a.header_link {
  color: red;
} */


div.footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: black;
  text-align: center;
  align-items: center;
}

p.footer_text {
  color: rosybrown;
}

